.dash-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.dash-sub{
    width: 96%;
    min-height: 96%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.header-main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}