.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container-main {
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    padding: 10px;
}

.main {
    width: 100%;
    height: 100%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.heading {
    font-size: 22px;
    color: #727070;
}

.field {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.field input {
    border: none;
    outline: none;
    width: 100%;
}

.buttons {
    width: 40%;
    padding: 20px;
}

.button button {
    padding: 5px;
    background-color: #444040;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 2px 1px black;
}

@media screen and (max-width:900px) {
    .field {
        width: 100%;
    }

    .buttons {
        width: 100%;
    }

}